# Git
.git
.gitignore
.gitattributes

# CI/CD
.github

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Dependencies
/node_modules
/vendor

# Environment
.env
.env.backup
.env.production

# Build artifacts
/public/hot
/public/storage
/public/build

# Storage
/storage/*.key
/storage/app/*
!/storage/app/public
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

# Testing
.phpunit.result.cache
/coverage

# Documentation
README.md
docker-compose.yml
Dockerfile
.dockerignore

# Laravel Mix / Vite
npm-debug.log
yarn-error.log
mix-manifest.json

